<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2023 Jelurida IP B.V.                                    ~
  ~ Copyright © 2023-2024 Jelurida Swiss SA                                   ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida     ~
  ~ Swiss SA, no part of this software, including this file, may be copied,   ~
  ~ modified, propagated, or distributed except according to the terms        ~
  ~ contained in the LICENSE.txt file.                                        ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="modal fade" id="set_mandatory_approval_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="phasing_only">Mandatory Approval</h4>
            </div>
            <div class="modal-body">
                <div class="callout callout-warning never_hide" data-i18n="mandatory_approval_info">All subsequent transactions will be mandatory approved (phased) according to whatever is set below. Once set, this account control can only be removed with the approval of the accounts/stake holders set below.</div>
                <form role="form" autocomplete="off">
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <div class="form-group control_model_group" data-modal-ui-element="approval_model_modal_ui_element"></div>
                    </div>
                    <!--Minimum fees and phasing duration-->
                    <div class="phasing_duration_and_min_fees">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group phasing_only_phasing_duration">
                                    <label data-i18n="phasing_duration">Minimum and maximum phasing duration</label>
                                    <i class="far fa-question-circle modal-context-help" data-content="" data-toggle="popover" data-trigger="hover" data-container="#set_mandatory_approval_modal" data-i18n="[data-content]phasing_duration_help"></i>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <input name="controlMinDuration" type="number" min="0" class="form-control" placeholder="Min" data-i18n="[placeholder]minimum_duration_short"/>
                                                <span class="input-group-addon">Blocks</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="input-group">
                                                <input name="controlMaxDuration" type="number" min="0" class="form-control" placeholder="Max" data-i18n="[placeholder]maximum_duration_short"/>
                                                <span class="input-group-addon">Blocks</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group phasing_only_maximum_pending_fees">
                                    <label data-i18n="phasing_maximum_pending_fees">Max pending transactions fees</label>
                                    <i class="far fa-question-circle modal-context-help" data-content="" data-toggle="popover" data-trigger="hover" data-container="#set_mandatory_approval_modal" data-i18n="[data-content]maximum_pending_fees_help"></i>
                                    <div class="input-group">
                                        <input name="controlMaxFeesNXT" type="number" min="0" class="form-control" step="any" placeholder="Max fees" data-i18n="[placeholder]maximum_fees"/>
                                        <span class="input-group-addon coin-symbol"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callout account_info" style="display:none;margin-bottom: 0;"></div>
                    <div data-replace-with-modal-template="add_message_modal_template"></div>
                    <div data-replace-with-modal-template="fee_calculation_modal_template"></div>
                    <div data-replace-with-modal-template="secret_phrase_modal_template"></div>
                    <div data-replace-with-modal-template="advanced_deadline_template"></div>
                    <div data-replace-with-modal-template="advanced_approve_template"></div>
                    <div data-replace-with-modal-template="advanced_rt_hash_template"></div>
                    <div data-replace-with-modal-template="advanced_broadcast_template"></div>
                    <div data-replace-with-modal-template="advanced_note_to_self_template"></div>

                    <input type="hidden" name="request_type" value="setPhasingOnlyControl" />
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="advanced_info"><a href="#" data-i18n="advanced">advanced</a></div>

                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="submit;[placeholder]submitting">Submit</button>
            </div>
        </div>
    </div>
</div>
