<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2016-2023 Jelurida IP B.V.                                    ~
  ~ Copyright © 2023-2024 Jelurida Swiss SA                                   ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida     ~
  ~ Swiss SA, no part of this software, including this file, may be copied,   ~
  ~ modified, propagated, or distributed except according to the terms        ~
  ~ contained in the LICENSE.txt file.                                        ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="modal fade" id="config_contract_runner_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-i18n="config_contract_runner">Configure Contract Runner</h4>
            </div>
            <div class="modal-body">
                <form role="form" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="callout callout-danger passphrase_warning" style="display:none">
                        <strong><span data-i18n="warning">Warning</span>:</strong>
                        <span class="passphrase_warning_text"></span>
                    </div>
                    <div class="callout callout-danger error_message" style="display:none"></div>
                    <div class="form-group">
                        <label for="upload_contract_runner_config_file" data-i18n="contract_runner_config_file">Contract Runner Configuration File</label>
                        <input type="file" id="upload_contract_runner_config_file" class="form-control" name="config" tabindex="1">
                    </div>
                    <input type="hidden" name="adminPassword">
                    <input type="hidden" name="request_type" value="uploadContractRunnerConfiguration">
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="cancel">Cancel</button>
                <button type="button" class="btn btn-primary" data-loading-text="Submitting..." data-i18n="upload_file_button;[data-loading-text]submitting">Upload File</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view_contract_params_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span data-i18n="view_contract_params">View Contract Parameters</span>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="view_contract_params_name" data-i18n="name"></label>
                        <input type="text" class="form-control" id="view_contract_params_name" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="view_contract_params_content" data-i18n="contract_invocation_parameters"></label>
                        <textarea class="form-control" id="view_contract_params_content" rows="12" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label for="view_contract_params_template" data-i18n="trigger_message_template"></label>
                        <textarea class="form-control" id="view_contract_params_template" rows="12"></textarea>
                        <span><a class='btn btn-default btn-xs copy_link' href="#" data-clipboard-target="#view_contract_params_template"><span class="far fa-copy"></span></a></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view_contract_stat_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span data-i18n="view_contract_statistics">View Contract Statistics</span>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="view_contract_stat_name" data-i18n="name"></label>
                        <input type="text" class="form-control" id="view_contract_stat_name" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="view_contract_stat_type" data-i18n="type"></label>
                        <input type="text" class="form-control" id="view_contract_stat_type" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="view_contract_stat_normal" data-i18n="contract_statistics"></label>
                        <table class="table table-striped" id="view_contract_stat_normal" style="display:none;margin-bottom: 0;">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="view_contract_stat_error" data-i18n="contract_error_statistics"></label>
                        <table class="table table-striped" id="view_contract_stat_error" style="display:none;margin-bottom: 0;">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view_contract_validity_checks_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span data-i18n="view_contract_validity_checks">View Contract Validity Checks</span>
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="view_contract_validity_checks_name" data-i18n="name"></label>
                        <input type="text" class="form-control" id="view_contract_validity_checks_name" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="view_contract_validity_checks_content" data-i18n="content"></label>
                        <textarea class="form-control" id="view_contract_validity_checks_content" rows="12" readonly></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="close">Close</button>
            </div>
        </div>
    </div>
</div>
