<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016-2023 Jelurida IP B.V.                                    ~
  ~ Copyright © 2023-2024 Jelurida Swiss SA                                   ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with Jelurida     ~
  ~ Swiss SA, no part of this software, including this file, may be copied,   ~
  ~ modified, propagated, or distributed except according to the terms        ~
  ~ contained in the LICENSE.txt file.                                        ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<header class="header">
    <span id="logo">
        <a href="#" class="logo" data-page="dashboard">
            <img src="img/nxt_logo_small.png" style="opacity:0.95" />
        </a>
    </span>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="navbar-btn sidebar-toggle" id="offcanvas_toggle" role="button">
            <span class="sr-only" data-i18n="toggle_navigation">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div id="header_right" class="navbar-right">
            <ul class="nav navbar-nav sends">
                <li id="header_send_money" class="dropdown">
                    <a href="#" data-toggle="modal" data-target="#send_money_modal">
                        <span data-i18n="send">Send</span> <span class="coin-symbol"></span>
                    </a>
                </li>
                <li id="header_send_message" class="dropdown">
                    <a href="#" data-toggle="modal" data-target="#send_message_modal" data-i18n="send_message">Send Message</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a class="client_options" href="#" data-toggle="modal" data-target="#client_status_modal">
                        <span id="confirmation_rate_indicator" class="badge nm_inner_subtype" style="background-color: #a94442;">
                            <span style="color: #fff;">
                                &nbsp;<i class="fa fa-bolt"></i>&nbsp;
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" id="shuffling_notification_menu" class="goto-page" data-page="active_shufflings" style="display:none;">
                        <span class="badge nm_inner_subtype" style="background-color: #fff;">
                            <span style="color:#337ab7;">
                                <i class="fa fa-random"></i>&nbsp;
                            </span>
                            <span style="color:#444;" id="shuffling_notification_counter"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" id="unconfirmed_notification_menu" class="goto-page" data-page="transactions" data-subpage="unconfirmed" style="display:none;">
                        <span class="badge nm_inner_subtype" style="background-color: #fff;">
                            <span style="color:#337ab7;">
                                <i class="far fa-circle"></i>&nbsp;
                            </span>
                            <span style="color:#666;" id="unconfirmed_notification_counter"></span>
                        </span>
                    </a>
                </li>
                <li style="display:none;">
                    <a href="#" id="phasing_notification_menu" class="goto-page" data-page="transactions" data-subpage="phasing">
                        <span class="badge nm_inner_subtype" style="background-color: #fff;">
                            <span style="color:#337ab7;">
                                <i class="fa fa-gavel"></i>&nbsp
                            </span>
                            <span style="color:#666;" id="phasing_notification_counter"></span>
                        </span>
                    </a>
                </li>
                <li id="notification_menu_container">
                    <a href="#" id="notification_menu" data-toggle="popover" data-placement="bottom" data-content="">
                        <span class="badge nm_inner_subtype"></span>
                        <span class="badge nm_inner_total"></span>
                    </a>
                </li>
                <li id="contacts_menu_li" role="presentation" class="active show_popover" data-toggle="popover" data-placement="bottom" data-content="CONTACTS" data-container="#header_right" data-i18n="[data-content]contacts">
                    <a href="#" class="goto-page" data-page="contacts">
                        <i class="far fa-book-user"></i>
                    </a>
                </li>
                <li class="dropdown show_popover" role="presentation" data-toggle="popover" data-placement="bottom" data-content="SETTINGS" data-container="#header_right" data-i18n="[data-content]settings">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="blocks"><i class="fa fa-bars fa-fw"></i><span data-i18n="blocks">Blocks</span></a></li>
                        <li><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="peers"><i class="fa fa-cloud fa-fw"></i><span data-i18n="peers">Peers</span></a></li>
                        <li><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="generators"><i class="fa fa-code-branch fa-fw"></i><span data-i18n="generators">Generators</span></a></li>
                        <li id="funding_monitor_menu_item"><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="funding_monitors"><i class="fa fa-shekel-sign fa-fw"></i><span data-i18n="monitors">Monitors</span></a></li>
                        <li id="bundler_menu_item"><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="bundlers"><i class="fa fa-suitcase fa-fw"></i><span data-i18n="bundlers">Bundlers</span></a></li>
                        <li><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="node_processes_config"><i class="fa fa-tasks fa-fw"></i><span data-i18n="node_processes_config">Processes</span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#" class="goto-page" data-page="plugins_overview"><i class="fa fa-plug fa-fw"></i><span data-i18n="plugins">Plugins</span></a></li>
                        <li><a role="menuitem" tabindex="-1" href="#" class="goto-page" data-page="contracts"><i class="fa fa-address-card fa-fw"></i><span data-i18n="contracts">Contracts</span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#" class="goto-page" data-page="settings"><i class="fa fa-cog fa-fw"></i><span data-i18n="account_settings">Account Settings</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#device_settings_modal"><i class="far fa-mobile fa-fw"></i><span data-i18n="device_settings">Device Settings and Offline Actions</span></a></li>
                        <li><a href="#" class="goto-page" data-page="configuration"><i class="far fa-server fa-fw"></i><span data-i18n="node_configuration">Node Configuration</span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#load_voucher_modal"><i class="fa fa-address-book fa-fw"></i><span data-i18n="load_voucher">Load Voucher</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#token_modal"><i class="far fa-code fa-fw"></i><span data-i18n="generate_token">Generate Token</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#hash_modal"><i class="far fa-calculator fa-fw"></i><span data-i18n="calculate_hash">Calculate Hash</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#transaction_json_modal"><i class="fa fa-asterisk fa-fw"></i><span data-i18n="transaction_operations">Transaction Operations</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#bip32_calculations_modal"><i class="fa fa-seedling fa-fw"></i><span data-i18n="bip32_calculations">BIP32 Calculations</span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="#" id="refreshSearchIndex"><i class="fa fa-search fa-fw"></i><span data-i18n="refresh_search_index">Refresh Search Index</span></a></li>
                        <li id="api_console_li"><a href="/test" target="_blank"><i class="fa fa-magic fa-fw"></i><span data-i18n="api_console">API Console</span></a></li>
                        <li id="database_shell_li"><a href="/dbshell" target="_blank"><i class="fa fa-database fa-fw"></i><span data-i18n="database_shell">Database Shell</span></a></li>
                        <li role="presentation" class="divider"></li>
                        <li id="tours_menu_li">
                            <a href="#" onclick="NRS.tours.dashboard(true)" role="menuitem">
                                <i class="fa fa-blind fa-fw"></i><span data-i18n="walk_through_tour">UI walk through</span>
                            </a>
                        </li>
                        <li><a class="external-link" role="menuitem" tabindex="-1" href="https://ardordocs.jelurida.com/" target="_blank"><i class="far fa-at fa-fw"></i><span data-i18n="wiki">Ardor Documentation</span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#about_modal"><i class="fa fa-info-circle fa-fw"></i><span data-i18n="about_ardor">About Ardor</span></a></li>
                    </ul>
                </li>
                <li class="dropdown show_popover" role="presentation" data-toggle="popover" data-placement="bottom" data-content="EXCHANGES" data-container="#header_right" data-i18n="[data-content]exchange">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-exchange-alt"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://changelly.com/" target="_blank"><span>Changelly</span></a></li>
                        <li><a href="https://changenow.io/?from=btc&to=ardr" target="_blank"><span>ChangeNOW</span></a></li>
                        <li><a href="https://changehero.io/" target="_blank"><span>ChangeHero</span></a></li>
                    </ul>
                </li>
                <li class="dropdown show_popover" id="web_wallet_li" role="presentation" data-toggle="popover" data-placement="bottom" data-content="WEB WALLET" data-container="#header_right" data-i18n="[data-content]web_wallet">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown" id="header_open_web_wallet">
                        <i class="fa fa-sitemap"></i>
                    </a>
                </li>
                <li class="dropdown" id="logout_button_container">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="logout_button">
                        <i class="fa fa-power-off"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="menuitem" tabindex="-1" href="#" onclick="NRS.logout()" data-i18n="logout">Log Out</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#" onclick="NRS.logout(true)" data-i18n="logout_stop_forging">Log Out &amp; Stop Forging</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#" onclick="NRS.logoutAndClear()" data-i18n="logout_clear_user_data">Log Out and Clear User Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
